.nav {
  z-index: 9000;
  grid-row: 1;
  grid-column: 1 / 4;
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgba(36, 36, 36, 0.75); */
}
